*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf50;
  --font-size-base: 16px;
  --spacing: 10px;
}

body{
  position: relative;
}

.grid-container{
  width: 100vw;
  min-height: 700px;
  background-color: azure;
  display: grid;
  grid-template-columns:250px auto;
  grid-template-rows: auto;
  gap: 10px;
  position: relative;
}

.sidebar{
  /* background-color: rgb(192, 243, 192); */
  background-color: white;
  color: lightgreen;
  padding: 1rem;
}

.nav-cont{
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: (192, 243, 192);
  align-items: start;
}

.link{
  padding: 1.2rem 0;
  display: flex;
  color: lightgreen;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 6, 1fr;
  gap: 10px;
  padding: 10px;
}


.upcoming{
  grid-column: 1/13;
  display: flex;
  gap: 20px;
  padding: 1rem;
  flex-direction: column;
}

.upcoming-task-card{
  display: flex;
  flex-direction: row;
  background-color: gray;
  padding: 0.7rem;
  border-radius: 0.7rem;
  gap: 10px;
  width: 200px;
}

.layout{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
}

.upcoming-task-card-card p{
  display: inline;
  margin-right: 10px;
}

.recommendation{
  grid-column: 1/8;
  display: flex;
  gap: 20px;
  padding: 1rem;
  flex-direction: column;
}

.recommended-course-card{
  display: flex;
  background-color: gray;
  padding: 0.7rem;
  border-radius: 0.7rem;
  gap: 10px;
  width: 100%;
}

.recommended-course-card .img-cont{
  width: 40%;
  height: 100px;
  overflow: hidden;
  border-radius: 0.6rem;
}

.recommended-course-card .img-cont img{
  width: 100%;
  height: 100%;
  font-size: 0;
  object-fit: cover;
}

.recommended-course-card p{
  display: inline;
  margin-right: 10px;
}


.completed{
  grid-column:8/13;
  display: flex;
  gap: 20px;
  padding: 1rem;
  flex-direction: column;
}

.completed-course-card{
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding: 0.7rem;
  border-radius: 0.7rem;
  gap: 10px;
  width: 100%;
}

.completed-course-card .img-cont{
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 0.6rem;
}

.completed-course-card .img-cont img{
  width: 100%;
  height: 100%;
  font-size: 0;
  object-fit: cover;
}

.completed-course-card p{
  display: inline;
  margin-right: 10px;
}